.header{
	background-color: white;
}
#navimage img{
  display: block;
}
h1{
	color: #000000;
	font-size: 5em;
	margin-left: 3em;
	font-family: 'Quicksand', sans-serif;
	text-align: center; 
	padding-bottom: 15px;
	color: #004960;
}
#topic{
	color: #000000;
	font-size: 1.5em;
	margin-left: 7em;
	text-align: center;
	padding-bottom: 10px;
}
#dates{
margin-left: 7em;
font-size: 2em;
}	
#talk{
	font-size: 1em;
	color: #000000;
	padding-left: 5px;
	padding: 10px;
}
.words{
	padding-left: 50px;
	margin-left: 7em;
	background-color: white;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;


}
.words:hover{
border-left: 50px solid #004960;
}


p{
	font-size: 1.5em;
	color:#0095CA;
}
#time{
   color:#0095CA;
   padding: 10px;
}
body{
	background-color: #f0f5e7;
}
footer{
	margin-top: 50px;
}