.header{
	background-image: url("../images/photo.jpeg");
	height: 500px;
}
h1{
	color: white;
	font-size: 3em;
	margin-left: 7em;
}
#topic{
	color: white;
	font-size: 1.5em;
	margin-left: 7em;
}
#dates{
margin-left: 7em;
font-size: 2em;
font-style: bold;
}	
#talk{
	font-size: 2em;
	color: #000000;
	font-style: italic;
	padding-left: 5px;
}
.words{
	border-style: solid;
	border-width: 0.2px;
	padding-left: 50px;
	margin-left: 7em;
	background-color: white;


}
.words:hover{
border-left: 50px solid black;
}


p{
	font-size: 1.5em;
	color:#0095CA;
}
#time{
   color:#0095CA;
   padding: 0;
}
body{
	background-color: rgba(110,110,110,0.5);
}
footer{
	margin-top: 50px;
}