#dietetics{
  background-color: #f0f5e7;
  height: auto;
  padding-bottom: 5em;
}
#dietetics h1{
  text-align: center;
}

#navimage img{
  display: block;
  padding-left: 0;
  padding-right: 1em;
}
body,html{
  background-color: white;
}
#dietetics h2{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;

}
.pre-work img{
  height: 150px;
  width: 250px;
  margin-bottom: 30px;

}
.pre-work h1{
  padding-top: 1em;
  margin-bottom: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.post-work h1{
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  

}
@-webkit-keyframes move {

  }
  @-webkit-keyframes appear {

  }
  .post-work img{
    height: 150px;
    width: 250px;
    margin-bottom: 20px;
  }
  .col-md-3{
    background-color: white;
  }
  #soy{
    padding-bottom: 4em;
  }
  #coco{
    padding-bottom: 1em;
  }
  #pumpkin{
    padding-bottom: 2.5em;
  }
  #protein-shake{
    padding-bottom: 2em;
  }
