#dietetics{
  background-color: #f0f5e7;
  height: auto;
  padding-bottom: 5em;
}
#navimage img{
  display: block;
}
body,html{
  background-color: white;
}
#dietetics h2{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;

}
.pre-work img{
  height: 150px;
  width: 250px;
  margin-bottom: 30px;
}
@-webkit-keyframes move {

  }
  @-webkit-keyframes appear {

  }
  .post-work img{
    height: 150px;
    width: 250px;
    margin-bottom: 20px;
  }
  .col-md-3{
    background-color: white;
  }
  #soy{
    padding-bottom: 4em;
  }
  #coco{
    padding-bottom: 1em;
  }
