html,body{
	background-color: #f0f5e7;
}
#navimage img{
  display: block;
	z-index: 1000;
}
section#news{
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: #f0f5e7;
}
hr{
	width: 80%;
	background-color: #ccc;
	height: 1px;
}
#header{
	color: #004960;
	padding: 30px;
	font-size: 70px;
	text-align: center;
	font-family: sans-serif;
	font-family: 'Quicksand', Open Sans;
}
.bg-1{
	padding: 0;
	float: left;
}
.content{
	padding: 5%;
	margin: 3%;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.comment{
	padding-top: 5px;
}
@media only screen and (max-width:991px){
	.img-responsive{
		width: 100%;
	}
	.content p{
		font-size: 16px;
	}
	section#news{

}
