*{
  /*To avoid horizontal scroll*/
  max-width: 100%;
}
html,body{
  /* remove padding and margin on body and give it total height*/
  margin: 0;
  padding:0;
  height:100%;
}
section{
  /*All sections this can be overidden for each section*/
  height:75%;
}
section#intro{
  background-color: red;
}
section#events{
  background-color: green;
}
section#map{
  background-color: yellow;
}
footer{
  height:50%
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align:center;
    background-color: #004960;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    /*opacity: 0.7;*/
}
img{
  height: 50px;
  width: 50px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.dropbtn {
  border: 0;
  background-color: inherit;
  padding: 20px 0px 20px 0px;
}
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    border: 0;
    padding-left: 100%;
    position: absolute;
}

.dropdown-content a {
    color: black;
    display: block;
}

.dropdown-content a:hover {color: #006F94}

.dropdown:hover .dropdown-content {
    display: block;
}
