html,body{
	background-color: #f0f5e7;
}
#navimage img{
  display: block;
}
section#news{
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: #f0f5e7;
}
hr{
	width: 80%;
	background-color: #ccc;
	height: 1px;
}
#header{
	color: #004960;
	padding: 30px;
	font-size: 40px;
	text-align: center;
	font-family: sans-serif;
	font-family: 'Quicksand', Open Sans;
}
.header2{
	color: #000000;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	font-family: sans-serif;
	font-family: 'Quicksand', Open Sans;
}
.bg-1{
	padding: 0;
	float: left;
}
.row{
	padding: 2%;
	background-color: #ffffff;
	margin-bottom: 3%;
}
.thumbnail{
	border-color: transparent;
}
.content{
	padding: 0;
	margin: 3%;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	background-color: #ffffff;
}
.comment{
	padding: 3%;
	font-size: 16px;
	color: #000000;
}
@media only screen and (max-width:991px){
	.thumbnail{
		width: 100%;
		text-align: center;
	}
	#comment{
		text-align: center;
		font-size: 16px;
	}
	section#news{
	margin: 0;
}
}
